
body{
    margin: 0;
    background-color: #F3F2EF;
  }
  p,h1{
    margin: 0 ;
  }
  

  .mainContainer{
      margin:  20px 20vw 20px 20vw;
      background-color: #F3F2EF;
      min-height: 100px;
     
      
  }

  @media screen and (max-width: 1635px) {
    .mainContainer {
      margin:  20px 10vw 20px 13vw;
    }
    .Wrapper-navbar {
      margin: 0px 10vw 0px 13vw !important;
    }
  }
  .wrapperFlex{
      display: flex;
      width: 100%;
      gap: 10px;
     padding: 10px 3px;
     
     
  }
 /*  .wrapperFlex>div:first-of-type{
      min-height: 50px;
      width: 40%;
      background-color: aqua;
  } */

.left {
  width: 70%;
  background-color: #f3f2ef;
  min-height: 30px;
}
.right {
  width: 30%;
  background-color: #f3f2ef;
  min-height: 30px;
}
