.navbar-container {
  width: 100%;
  max-height: 20vh;
  background-color: white;
  /* height: 10%vw; */
}
.Wrapper-navbar {
  margin: 0px 20vw 0px 20vw;
  /* background-color: rgb(233, 31, 31); */
  min-height: 60px;
  width: 60vw;
  display: flex;
  justify-content: space-between;
  max-height: 100%;
}
.right-navbar {
  width: 65%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.left-navbar {
  width: 30%;
  background-color: white;
  gap: 2px;
  display: flex;
}
.search-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.badge {
  width: 38px;
  height: 40px;
  border-radius: 0.25rem;
  
  color: aliceblue;
  margin-right: 5px;
  margin-left: 5px;
  padding-top: 10px;
  font-size: large;
}

svg.logoSvg{
  margin-right: 10px;
}

.search-box {
  width: 230px;
  height: 40px;
  background-color: #EEF3F8;
margin-left: 10px;
  border-radius: 0.25rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  text-align: center;
  font-size: small;
}
.search-box>svg{
  margin: 0px;
}
.outer-div {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.picture {
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  display: block;
  margin-bottom: 10px;
}

.photo {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  object-fit: cover;
}
.wrapper-dropdown {
  display: flex;
  margin-bottom: 0px;
  align-items: center;
  justify-content: center;
}

.dropdown {
  background-color: white !important;
  color: black;
  border: none;
  align-items: center;
  margin-bottom: 0px;
  padding: 0px 0px;
  font-size: small;
}

.vertical-line {
  height: 100%;
  width: 1px;
  background-color: #d1ccbe;
}
.paragraph {
  text-align: center;
  margin-top: 5px;
  font-size: small;
  color: rgb(153, 132, 13);
}
.home {
  font-size: x-small;
  text-align: center;
}
.mynetwork {
  font-size: x-small;
  text-align: center;
}
.messaging {
  font-size: x-small;
  text-align: center;
}
.notification {
  font-size: x-small;
  text-align: center;
}
.work {
  font-size: x-small;
  text-align: center;
}
.jobs {
  font-size: x-small;
  text-align: center;
}
.work-drop {
  display: flex;
  align-items: center;
}
